body {
    margin: 0;
    padding: 0; /* Removendo o padding do body */
    height: 100vh; /* Garante que o body ocupe a altura total da tela */
    font-family: Arial, sans-serif;
    background-image: url('./imagens/5.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    transition: background-image 0.5s ease-in-out; /* Faz a imagem de fundo ficar fixa */
}

@font-face {
    font-family: 'Star Jedi';
    src: url('fonts/StarJedi.ttf') format('truetype');
}

.star-wars-text {
    font-family: 'Star Jedi', sans-serif;
    font-size: 2em; /* Ajuste o tamanho conforme necessário */
    color: #e0e0e0; /* Cor amarela típica do Star Wars */
    text-align: left; /* Centraliza o texto */
    text-shadow: 2px 2px 5px black; /* Sombra no texto para efeito */
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

select {
    padding: 10px;
    width: 100%;
    max-width: 350px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: transparent; /* Fundo transparente */
    color: rgb(223, 223, 223);
    outline: none; /* Remove o contorno ao focar */
    cursor: pointer;
    appearance: none;

}

input {
    padding: 10px;
    width: 100%;
    max-width: 50px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(223, 223, 223);
    cursor: pointer;
}

button {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: rgba(123, 85, 192, 0); /* Tornando o fundo transparente */
    color: rgb(223, 223, 223);
    cursor: pointer;
}

input:hover,
button:hover,
select:hover {
    background-color: rgba(255, 255, 255, 0.24); /* Ajuste a opacidade no hover */
}

pre {
    max-width: 400px;
    width: 100%;
    max-height: 600px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: transparent;
    overflow-y: auto;
    white-space: pre-wrap;
    color: #e0e0e0;
}

pre::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

pre::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5); /* Cor da barra de rolagem */
    border-radius: 5px;
}

pre::-webkit-scrollbar-track {
    background: transparent; /* Fundo transparente para a trilha */
}

.hidden {
    display: none;
}

.containerbutton {
    display: flex; /* Para que os botões fiquem lado a lado */
    gap: 0; /* Espaço entre os botões */
}

.button-container button {
    padding: 10px;
    width: 198px; /* Largura fixa para os botões */
    font-size: 16px;
    background-color: transparent; /* Fundo transparente */
    border: 1px solid #444;
    color: rgb(223, 223, 223);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Margem superior */
}

.button-container button:hover {
    background-color: rgba(255, 255, 255, 0.24); /* Ajuste a opacidade no hover */
}


