

body {
    font-family: Arial, sans-serif;
    background-image: url('./imagens/5.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Faz a imagem de fundo ficar fixa */
    margin: 0;
    padding: 0; /* Removendo o padding do body */
    color: #e0e0e0;
    height: 100vh; /* Garante que o body ocupe a altura total da tela */
}

@font-face {
    font-family: 'Star Jedi';
    src: url('fonts/StarJedi.ttf') format('truetype');
}

.star-wars-text {
    font-family: 'Star Jedi', sans-serif;
    font-size: 2em; /* Ajuste o tamanho conforme necessário */
    color: #e0e0e0; /* Cor amarela típica do Star Wars */
    text-align: left; /* Centraliza o texto */
    text-shadow: 2px 2px 5px black; /* Sombra no texto para efeito */
}


.container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}


select {
    appearance: none;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 100%;
    max-width: 350px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: transparent; /* Fundo transparente */
    color: #e0e0e0; /* Cor do texto */
    appearance: none; /* Remove o estilo padrão do select */
    outline: none; /* Remove o contorno ao focar */
}


input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 50px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: transparent;
    color: #e0e0e0;
}


button {
    padding: 10px;
    font-size: 16px;
    background-color: rgba(123, 85, 192, 0); /* Tornando o fundo transparente */
    border: 1px solid #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.24); /* Ajuste a opacidade no hover */
}

button:hover {
    background-color: rgba(255, 255, 255, 0.24); /* Ajuste a opacidade no hover */
}

select:hover {
    background-color: rgba(255, 255, 255, 0.24); /* Ajuste a opacidade no hover */
}



pre {
    background-color: transparent;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
    max-height: 600px;
    width: 100%;
    max-width: 400px;
    overflow-y: auto;
    white-space: pre-wrap;
    color: #e0e0e0;
}


pre::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}


pre::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5); /* Cor da barra de rolagem */
    border-radius: 5px;
}

pre::-webkit-scrollbar-track {
    background: transparent; /* Fundo transparente para a trilha */
}

.hidden {
    display: none;
}



